<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Tamandua</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Users</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/projects']">Projects</a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Help</a></li>
        <li *ngIf="loggedIn" routerLinkActive="active"><a [routerLink]="['/auth/logout']">Logout</a></li>
        <li *ngIf="!loggedIn" routerLinkActive="active"><a [routerLink]="['/auth/signin']">Login</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</nav>