<div class="jumbotron">
  <div class="container">
    <h1>tamandua</h1>
    <p>Simple projet in Angular2 which consumes an API written in PHP.</p>
    <p class="small">
      <small>
        Github Tamandua: <a href="https://github.com/allambin/tamandua">https://github.com/allambin/tamandua</a> - 
        Github Tamandua API: <a href="https://github.com/allambin/tamandua-api">https://github.com/allambin/tamandua-api</a>
      </small>
    </p>
  </div>
</div>
<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <h2>Users</h2>
      <p>This section displays a list of users' records from the database. No action available, either for logged or unlogged users.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <h2>Projects</h2>
      <p>This section displays the projects, their tasks and some additionnal features. If logged in, a user can create, update or delete a project.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <h2>Reports</h2>
      <p>To do.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2017 Tamandua, Inc. &middot;
  </footer>

</div><!-- /.container -->
